---
layout: null
title: zodpovědné hospodaření a otevřený úřad 
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
    priority: 1.0
    lastmod: 2018-07-30
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
                        <h1>{{site.title}}</h1>
						<h2>pro otevřený úřad a průhledné hospodaření</h2>
						<p>Sdružení nezávislých kandidátů pro volby do zastupitelstva MO VI</p>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
            {% include nav.html %}
					</nav>


						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">Aktuality</a></li>
                </ul>
							</footer>

					</div>

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
{% if 0 %}
				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">OTEVŘENÝ ÚŘAD A PRŮHLEDNÉ HOSPODAŘENÍ</a></h2>
									<p>Náš obvod každoročně hospodaří zhruba se 40 miliony korun. Není nám jedno, jak se těmito prostředky nakládá. Zajistíme průhledné hospodaření obvodu, zapojení obyvatel do jeho řízení a přístup k informacím. Zajistíme bezpečné spojení pro pěší a chodce přes Labe a zamezíme další výstavbě bez odpovídající infrastruktury.</p>
								</header>
								<a href="#" class="image main"><img src="{{ "/images/uvolneni.jpg" | absolute_url }}" alt="" /></a>
								<h3>ZAPOJÍME VÁS DO ROZHODOVÁNÍ O BUDOUCNOSTI OBVODU</h3>
								<p>Poradní hlas obyvatel je skvělým nástrojem, jak zkvalitnit rozhodování o budoucnosti obvodu. Zpřístupníme podklady pro jednání zastupitelstva a připravované projekty. Významné záměry veřejně projednáme a vy tak budete mít jistotu, že zájmy žádných skupin nejsou upřednostňovány. V rozpočtu vyhradíme část prostředků, o jejichž využití rozhodnete sami. Chceme lidi stmelovat, ne rozdělovat.</p>
								<h3>TRANSPARENTNÍ ŘÍZENÍ OBVODU</h3>
								<p>Zavedeme transparentní účet obvodu a zpřehledníme rozpočet, aby si každý mohl kdykoliv ověřit, jakými prostředky obvod disponuje a za co je vydává. Zkvalitníme zápisy z jednání zastupitelstva a rady. Není na tom nic složitého, jde jenom o to chtít.</p>


							</article>
{% endif %}
